
!main.py
!requirements.txt
!Dockerfile
!.dockerignore
!tiến độ: cần như sau:.md
!database/
!database/**
!gui/
!gui/**
!models/
!models/**
!components/
!components/**

#bo qua cac thu muc va file khong can thiet
test.py
**/assets/
**/assets/**
**/test/
**/__pycache__/
*.pyc
*.pyo
*.pyd
temp_sensor_data/
*.log
.idea/
.vscode/
venv/
env/
.env/
*.venv
.DS_Store
Thumbs.db
*.tmp
*.bak
*.swp
build/
dist/
*.egg-info/
.coverage*
htmlcov/
.pytest_cache/
.exe 
dist/
build/ 